@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject NavigationManager _navManager


<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"/>

<!-- AdminLayout -->
<AdminOverlayMenu/>
<!-- Left Sidebar -->
<AdminMiniLeftBar/>

<aside class="right_menu">
    <AdminMenuApp/>
    <AdminNotifyMenu/>
    <AdminTaskMenu/>
    <AdminSidebarRight/>
    <AdminSidebarLeft/>
</aside>

<!-- Main Content -->
<section class="content">
    <div class="container-fluid">
        <AdminHeaderBlock/>
        <div class="row clearfix">
            @Body
        </div>
    </div>
</section>

@code{

    // protected override async void OnInitialized()
    // {
    // // await JSRuntime.InvokeAsync<object>("includeCss");
    // }

}