@page "/"
@namespace Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Docygen</title>
    <base href="/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" /> 
    <link href="assets/admin/css/main.css" rel="stylesheet" />

    <link href="assets/admin/css/chatapp.css" rel="stylesheet" >
    <link href="assets/admin/css/color_skins.css" rel="stylesheet" />
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
    <link href="_content/Blazor.ContextMenu/blazorContextMenu.min.css" rel="stylesheet" />

</head>

<body class="theme-black">
<app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

<!--    <div id="blazor-error-ui">-->
<!--        An unhandled error has occurred.-->
<!--        <a href="javascript:window.open('','_self').close();return false;" class="reload">Reload</a>-->
<!--        <a class="dismiss"></a>-->
<!--    </div>-->
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

<script src="assets/bundles/mainscripts.bundle.js"></script> 

<script src="_content/Blazored.Modal/blazored.modal.js"></script>
<script src="_content/BlazorAnimate/blazorAnimateInterop.js"></script>
<script src="_content/Blazor.ContextMenu/blazorContextMenu.min.js"></script>

<!-- Bootstrap core JavaScript --> 
<script src="_framework/blazor.webassembly.js"></script>
<script type="text/javascript" src="javascript/common.js"></script>
 
</body>

</html>