@layout PageLayout
@page "/"

test message
<div id="common-home" class="container">
    <div class="row">
        <ColumnLeft/>
        <div id="content" class="this.className">
            <ContentTop/>
            <ContentBottom/>
        </div>
        <ColumnRight/>
    </div>
</div>


@code{
    public string className { get; set; }

    public void OnUpdate()
    {
        throw new NotImplementedException();
    }

    protected override void OnInitialized()
    {
        className =
            string.IsNullOrEmpty(ShareLayout.layout.ColumnLeft) || string.IsNullOrEmpty(ShareLayout.layout.ColumnRight)
                ? !string.IsNullOrEmpty(ShareLayout.layout.ColumnLeft) || !string.IsNullOrEmpty(ShareLayout.layout.ColumnRight)
                    ? "col-sm-9"
                    : "col-sm-12"
                : "col-sm-6";
    }

}