@layout PageLayout
@page "/"
@inherits IndexRazor

test
<div id="common-home" class="container">
    <div class="row">
        <ColumnLeft></ColumnLeft>
        <div id="content" class="this.className">
            <ContentTop></ContentTop>
            <ContentBottom></ContentBottom>
        </div>
        <ColumnRight></ColumnRight>
    </div>
</div>