@layout AdminEmptyLayout
@page "/admin/auth/signin"
@inherits SigninRazor
<div class="col-lg-5 col-md-12 offset-lg-1">
    <BlazoredToasts Position="ToastPosition.TopCenter" Timeout="10" IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug"/>
    <div class="card-plain">
        <div class="header">
            <h5>Log in</h5>
        </div>
        <form class="form">
            <div class="input-group">
                <input type="text" @bind="Email" class="form-control" placeholder="User Name"/>
                @* <InputText @bind="email" class="form-control" placeholder="User Name"/> *@
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="zmdi zmdi-account-circle"></i>
                    </span>
                </div>
            </div>
            <div class="input-group">
                <input @bind="Password" type="password" class="form-control" placeholder="Password"/>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="zmdi zmdi-lock"></i>
                    </span>
                </div>
            </div>
        </form>
        <div class="footer">
            <a href="javascript:void(0);" @onclick="OnValidSubmit" class="btn btn-primary btn-round btn-block">
                SIGN IN
            </a>
            <a href="/admin/auth/signup" class="btn btn-primary btn-simple btn-round btn-block">SIGN UP</a>
        </div>
        <a href="javascript:void(0);" @onclick="ForgotPassword" class="link">Forgot Password?</a>
    </div>
</div>