<a href="javascript:void(0);" class="menu-toggle">
    <i class="zmdi zmdi-apps"></i><span>Dashboard</span> <span class="badge badge-success float-right">7</span>
</a>
<ul class="ml-menu">
    <li>
        <a href="#">Inbox</a>
    </li>
    <li>
        <a href="#">Chat</a>
    </li>
    <li>
        <a href="#">Calendar</a>
    </li>
    <li>
        <a href="#">File Manager</a>
    </li>
    <li>
        <a href="#">Contact list</a>
    </li>
    <li>
        <a href="#">Blog</a>
    </li>
    <li>
        <a href="#">Support Ticket</a>
    </li>
</ul>

@code {

}