<a href="javascript:void(0);" class="menu-toggle">
    <i class="zmdi zmdi-apps"></i>
    <span>Post</span> 
    <span class="badge badge-success float-right">7</span>
</a>
<ul class="ml-menu">
    <li>
        <a href="#">All Posts</a>
    </li>
    <li>
        <a href="#">Add New</a>
    </li>
    <li>
        <a href="#">Category</a>
    </li>
    <li>
        <a href="#">Tag</a>
    </li>
</ul>

@code {

}