@inherits MenuRazorBase
@if (categories.Count > 0)
{
    <div class="container">
        <nav id="menu" class="navbar">
            <div class="navbar-header">
                <span id="category" class="visible-xs">{{ text_category }}</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    @foreach (var category in categories)
                    {
                        @if (category.children.Count > 0)
                        {
                            <li class="dropdown">
                                <a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-inner">
                                        @foreach (var  children in category.children)
                                        {
                                            <ul class="list-unstyled">
                                                @foreach (var  child in children.children)
                                                {
                                                    <li>
                                                        <a href="{{ child.href }}">{{ child.name }}</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                    <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="{{ category.href }}">{{ category.name }}</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </div>
}