@page "/information"

@inherits IndexBase

<div id="information-information" class="container">
    <Breadbrumbs></Breadbrumbs>

    <div class="row">
        <div id="content" class=" class ">
            <ContentTop></ContentTop>
            <h1> heading_title </h1>
            description
            <ContentBottom></ContentBottom>
        </div>

        <ColumnRight></ColumnRight>
    </div>/
</div>