@inherits CalendarRazorBase
<div class="widget" id="widget-name" data-name="<?php echo _l('calendar'); ?>">
    <div class="clearfix"></div>
    <div class="panel_s">
        <div class="panel-body">
            <div class="widget-dragger"></div>
            <div class="dt-loader hide"></div>
            <div id="calendar"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>