@inherits ProjectsActivityRazor
<div class='widget @(projects_activity.Count == 0 ? "hide" : "")' id="widget-" data-name='helper.label("home_project_activity")'>
    <div class="panel_s projects-activity">
        <div class="panel-body padding-10">
            <div class="widget-dragger"></div>
            <p class="padding-5"> helper.label('home_project_activity')</p>
            <hr class="hr-panel-heading-dashboard">
            <div class="activity-feed">
                @{
                    var href = "";
                    var name = "[CRON]";

                }
                @foreach (var activity in projects_activity)
                {
                    // name = activity['fullname'];
                    // if (activity['staff_id'] != 0)
                    // {
                    //     href = helper.admin_url("profile/" + activity['staff_id']);
                    // }
                    // else if (activity['contact_id'] != 0)
                    // {
                    //     name = '<span class="label label-info inline-block mright5">'+helper.label('is_customer_indicator').
                    //     '</span> - '+name;
                    //     href = helper.admin_url("clients/client/"+helper.get_user_id_by_contact_id(activity['contact_id'])+'?contactid='+activity['contact_id']);
                    // }

                    <div class="feed-item">
                        <div class="date">
                            <span class="text-has-action" data-toggle="tooltip" data-title="  _dt(activity['dateadded'])">
                                time_ago(activity['dateadded'])
                            </span>
                        </div>
                        <div class="text">
                            <p class="bold no-mbot">
                                @if (!string.IsNullOrEmpty(href))
                                {
                                    <a href="this.href"> name</a>
                                }
                                else
                                {
                                    @name
                                }

                                activity['description']
                            </p>
                            helper.label('project_name'): <a href="  admin_url('projects/view/'.activity['project_id'])"> activity['project_name']</a>
                        </div>
                        @* @if (!string.IsNullOrEmpty(activity["additional_data"])) *@
                        @* { *@
                        @*     <p class="text-muted mtop5"> activity["additional_data"]</p> *@
                        @* } *@
                    </div>
                }
            </div>
        </div>
    </div>
</div>