@page "/markupstring"

@((Microsoft.AspNetCore.Components.MarkupString) myMarkup)

@code {
    readonly string myMarkup = @"<p class='markup'>This is a <em>markup string</em>.</p>    <button class='btn btn-primary'>Button</button>";

}