@layout AdminLayout
@page "/admin/dashboard"

<div class="col-lg-12">
    <div class="card">
        <div class="body">
            <h4 class="margin-0">Starter page</h4>
        </div>
    </div>
</div>