@layout PageLayout
@page "/account/login" 


<div id="account-login" class="container">
    <Breadbrumbs></Breadbrumbs>

    @if (success)
    {
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    }
    @if (error_warning)
    {
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    }
    <div class="row">
        <ColumnLeft></ColumnLeft>

        <div id="content" class="{{ class }}">
            <ContentTop></ContentTop>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h2>text_new_customer }}</h2>
                        <p>
                            <strong>label.get("text_register")</strong>
                        </p>
                        <p>{{ text_register_account }}</p>
                        <a href="{{ register }}" class="btn btn-primary">{{ button_continue }}</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h2>{{ text_returning_customer }}</h2>
                        <p>
                            <strong>{{ text_i_am_returning_customer }}</strong>
                        </p>
                        <form action="{{ action }}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label" for="input-email">{{ entry_email }}</label>
                                <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-password">{{ entry_password }}</label>
                                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                                <a href="{{ forgotten }}">{{ text_forgotten }}</a>
                            </div>
                            <input type="submit" value="{{ button_login }}" class="btn btn-primary"/>
                            @if (string.IsNullOrEmpty(redirect))
                            {
                                <input type="hidden" name="redirect" value="@redirect"/>
                            }
                        </form>
                    </div>
                </div>
            </div>
            <ContentBottom></ContentBottom>
        </div>
        <ColumnRight></ColumnRight>
    </div>
</div>

@code {
    public string redirect { get; set; }
    public bool success { get; set; } = false;
    public bool error_warning { get; set; } = false;

}