<div id="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel_s">
                    <div class="panel-body">
                        <h4 class="no-margin">
                            title;
                            if(!is_admin()){ <br/>
                            <small> _l('reminders_view_none_admin'); </small>
                            }
                        </h4>
                        <hr class="hr-panel-heading"/>
                        render_datatable(array(
                        _l( 'reminder_related'),
                        _l('reminder_description'),
                        _l( 'reminder_date'),
                        _l( 'reminder_staff'),
                        _l( 'reminder_is_notified'),
                        _l( 'options')
                        ), 'reminders');
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
this->load->view('admin/includes/modals/reminder',array(
'id'=>'',
'name'=>'',
'members'=>members,
'reminder_title'=>_l('edit',_l('reminder')))
);
init_tail();