@inherits CalendarRazor;
<div id="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel_s">
                    <div class="panel-body" style="overflow-x: auto;">
                        <div class="dt-loader hide"></div>
                        <CalendarFilters></CalendarFilters>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<CalendarTemplate></CalendarTemplate>