@inherits SetupMenuRazor
<div id="wrapper">
<div class="content">
<div class="row">
<div class="col-md-12">
<div class="panel_s">
<div class="panel-body">
<div class="_buttons">
    <a href="#" onclick="save_menu();return false;" class="btn btn-info"> helper.label('utilities_menu_save');</a>
    <a href="  admin_url('utilities/reset_setup_menu');" class="btn btn-default"> helper.label('reset');</a>
</div>
<div class="clearfix"></div>
<hr class="hr-panel-heading no-mbot"/>

<div class="clearfix"></div>
<div class="row">
<div class="col-md-6 border-right">
    <h4 class="bold mtop15"> helper.label('active_menu_items');</h4>
    <hr class="hr-panel-heading"/>
    <div class="dd active">

        @{ var i = 1; }
        <ol class="dd-list">
            @if (menu_active.setup_menu_active.Count == 0)
            {
                <li class="dd-item dd3-empty"></li>
            }
            @foreach (var item in menu_active.setup_menu_active)
            {
                <li class="dd-item dd3-item main" data-id="  item.id;" data-permission="  item.permission;">
                    <div class="dd-handle dd3-handle"></div>
                    <div class="dd3-content">
                        helper.label(item.name);
                        @if (item.permission == "is_admin")
                        {
                            // - <small class="bold">-   helper.label("only_admins")</small>
                        }
                        <a href="#" class="text-muted toggle-menu-options main-item-options pull-right">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <div class="menu-options main-item-options" style="display:none;" data-menu-options="  item.id;">
                        <label class="control-label"> helper.label('utilities_menu_name');</label>
                        <div class="input-group mbot15">

                            <input type="text" value="  item.name;" class="form-control main-item-name" name="name-menu-item-  item.id;">
                            <span class="input-group-addon">
                                <i class="fa fa-question" data-toggle="tooltip" data-placement="left" data-title="  helper.label('utilities_menu_translate_name_help');"></i>
                            </span>
                        </div>
                        <label class="control-label"> helper.label('utilities_menu_url');</label>
                        <div class="input-group mbot15">


                            @{
                                var url = "#";
                                @if (string.IsNullOrEmpty(item.url) && !string.IsNullOrEmpty(item.url))
                                {
                                    url = item.url;
                                }
                            }


                            <input type="text" disabled value="  url;" class="form-control main-item-url" name="url-menu-item-  item.id;">
                            <span class="input-group-addon">
                                <i class="fa fa-question" data-toggle="tooltip" data-placement="left" data-title="  helper.label('utilities_menu_url_help',admin_url());"></i>
                            </span>
                        </div>
                        <label class="control-label"> helper.label('utilities_menu_icon');</label>
                        <div class="input-group">
                            <input type="text" value="  item.icon;" class="form-control main-item-icon icon-picker">
                            <span class="input-group-addon">
                                <i class="  item.icon;"></i>
                            </span>
                        </div>
                    </div>
                    @if (item.children == null)
                    {
                        <ol class="dd-list">
                            x = 1; foreach(item.children as submenu){
                            <li class="dd-item dd3-item sub-items" data-id="  submenu.id;" data-permission="  submenu.permission;">
                                <div class="dd-handle dd3-handle"></div>
                                <div class="dd3-content">
                                    helper.label(submenu.name);;
                                    @if (submenu.permission == "is_admin")
                                    {
                                        // - <small  class="bold" > -helper.label("only_admins") </small>
                                    }
                                    <a href="#" class="text-muted toggle-menu-options sub-item-options pull-right">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                </div>
                                <div class="menu-options sub-item-options" style="display:none;" data-menu-options="  submenu.id;">
                                    <label class="control-label"> helper.label('utilities_menu_name');</label>
                                    <div class="input-group">
                                        <input type="text" value="  submenu.name;" class="form-control sub-item-name" name="name-menu-item-  submenu.id;">
                                        <span class="input-group-addon">
                                            <i class="fa fa-question" data-toggle="tooltip" data-placement="left" data-title="  helper.label('utilities_menu_translate_name_help');"></i>
                                        </span>
                                    </div>
                                    <label class="control-label"> helper.label('utilities_menu_url');</label>

                                    <div class="input-group">

                                        @{ url = "#"; }
                                        @if (!string.IsNullOrEmpty(submenu.url))
                                        {
                                            url = submenu.url;
                                        }

                                        <input type="text" disabled value="  url;" class="form-control sub-item-url" name="url-menu-item-  submenu.id;">
                                        <span class="input-group-addon">
                                            <i class="fa fa-question" data-toggle="tooltip" data-placement="left" data-title="  helper.label('utilities_menu_url_help',admin_url());"></i>
                                        </span>
                                    </div>
                                    <label class="control-label"> helper.label('utilities_menu_icon');</label>
                                    <div class="input-group">
                                        <input type="text" value="  submenu.icon;" class="form-control main-item-icon icon-picker">
                                        <span class="input-group-addon">
                                            <i class="  submenu.icon;"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            x++; }
                        </ol>
                    }
                </li>
                i++;
            }
        </ol>
    </div>
</div>
<div class="col-md-6">
    <h4 class="bold mtop15"> helper.label('inactive_menu_items');</h4>
    <hr class="hr-panel-heading"/>
    <div class="dd inactive">

        i = 1;
        <ol class="dd-list">
            @if (menu_inactive.setup_menu_inactive.Count == 0)
            {
                <li class="dd-item dd3-empty"></li>
            }

            @foreach (var item in menu_inactive.setup_menu_inactive)
            {
                <li class="dd-item dd3-item main" data-id="  item.id;" data-permission="  item.permission;">
                    <div class="dd-handle dd3-handle"></div>
                    <div class="dd3-content">
                        helper.label(item.name);;
                        <a href="#" class="text-muted toggle-menu-options main-item-options pull-right">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <div class="menu-options main-item-options" style="display:none;" data-menu-options="  item.id;">
                        <label class="control-label"> helper.label('utilities_menu_name');</label>
                        <div class="input-group">
                            <input type="text" value="  item.name;" class="form-control main-item-name" name="name-menu-item-  item.id;">
                            <span class="input-group-addon">
                                <i class="fa fa-question" data-toggle="tooltip" data-placement="left" data-title="  helper.label('utilities_menu_translate_name_help');"></i>
                            </span>
                        </div>
                        <label class="control-label"> helper.label('utilities_menu_url');</label>

                        <div class="input-group">
                            @{
                                var url = "#";
                                @if (string.IsNullOrEmpty(item.url) && !string.IsNullOrEmpty(item.url))
                                {
                                    url = item.url;
                                }
                            }
                            <input type="text" disabled value="  url;" class="form-control main-item-url" name="url-menu-item-  item.id;">
                            <span class="input-group-addon">
                                <i class="fa fa-question" data-toggle="tooltip" data-placement="left" data-title="  helper.label('utilities_menu_url_help',admin_url());"></i>
                            </span>
                        </div>
                        <label class="control-label"> helper.label('utilities_menu_icon');</label>
                        <div class="input-group">
                            <input type="text" value="  item.icon;" class="form-control main-item-icon icon-picker">
                            <span class="input-group-addon">
                                <i class="  item.icon;"></i>
                            </span>
                        </div>
                    </div>
                    @if (item.children == null)
                    {
                        <ol class="dd-list">
                            x = 1;
                            @foreach (var submenu in item.children)
                            {
                                <li class="dd-item dd3-item sub-items" data-id="  submenu.id;" data-permission="  submenu.permission;">
                                    <div class="dd-handle dd3-handle"></div>
                                    <div class="dd3-content">
                                        helper.label(submenu.name);;
                                        <a href="#" class="text-muted toggle-menu-options sub-item-options pull-right">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                    </div>
                                    <div class="menu-options sub-item-options" style="display:none;" data-menu-options="  submenu.id;">
                                        <label class="control-label"> helper.label('utilities_menu_name');</label>
                                        <div class="input-group">
                                            <input type="text" value="  submenu.name;" class="form-control sub-item-name" name="name-menu-item-  submenu.id;">
                                            <span class="input-group-addon">
                                                <i class="fa fa-question" data-toggle="tooltip" data-placement="left" data-title="  helper.label('utilities_menu_translate_name_help');"></i>
                                            </span>
                                        </div>
                                        <label class="control-label"> helper.label('utilities_menu_url');</label>
                                        <div class="input-group">

                                            @{
                                                url = "#";
                                                @if (!string.IsNullOrEmpty(submenu.url))
                                                {
                                                    url = submenu.url;
                                                }
                                            }
                                            <input type="text" disabled value="  url;" class="form-control sub-item-url" name="url-menu-item-  submenu.id;">
                                            <span class="input-group-addon">
                                                <i class="fa fa-question" data-toggle="tooltip" data-placement="left" data-title="  helper.label('utilities_menu_url_help',admin_url());"></i>
                                            </span>

                                        </div>
                                        <label class="control-label"> helper.label('utilities_menu_icon');</label>
                                        <div class="input-group">
                                            <input type="text" value="  submenu.icon;" class="form-control main-item-icon icon-picker">
                                            <span class="input-group-addon">
                                                <i class="  submenu.icon;"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                @*@x++;*@
                            }
                        </ol>
                    }
                </li>
                @*@i++;*@
            }
            }
        </ol>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>