@layout PageLayout
@page "/information/contact"

<div id="information-contact" class="container">
    <Breadbrumbs></Breadbrumbs>

    <div class="row">
        <ColumnLeft></ColumnLeft>
        <div id="content" class="class">
            <ContentTop></ContentTop>
            <h1>heading_title</h1>
            <h3>text_location</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        @if (image)
                        {
                            <div class="col-sm-3">
                                <img src="image" alt="store" title="store" class="img-thumbnail"/>
                            </div>
                        }
                        <div class="col-sm-3">
                            <strong>store</strong><br/>
                            <address>
                                address
                            </address>

                            @if (geocode)
                            {
                                <a href="#" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> button_map</a>
                            }
                        </div>
                        <div class="col-sm-3">
                            <strong>text_telephone</strong><br>
                            telephone<br/>
                            <br/>
                            @if (string.IsNullOrEmpty(fax))
                            {
                                <strong>text_fax</strong>
                                <br>
                                @fax
                            }
                        </div>
                        <div class="col-sm-3">
                            @if (string.IsNullOrEmpty(open))
                            {
                                <strong>text_open</strong>
                                <br/>
                                @open
                                <br/>
                                <br/>
                            }
                            @if (string.IsNullOrEmpty(comment))
                            {
                                <strong>text_comment</strong>
                                <br/>
                                @comment
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (locations.Count > 0)
            {
                <h3>text_store</h3>
                <div class="panel-group" id="accordion">
                    @foreach (var location  in locations)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse-locationlocation.location_id" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">location.name <i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse-locationlocation.location_id">
                                <div class="panel-body">
                                    <div class="row">
                                        @if (location.image)
                                        {
                                            <div class="col-sm-3">
                                                <img src="location.image" alt="location.name" title="location.name" class="img-thumbnail"/>
                                            </div>
                                        }
                                        <div class="col-sm-3">
                                            <strong>location.name</strong><br/>
                                            <address>
                                                location.address
                                            </address>
                                            @if (location.geocode)
                                            {
                                                <a href="https://maps.google.com/maps?q=location.geocode|url_encode&hl=geocode_hl&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> button_map</a>
                                            }
                                        </div>
                                        <div class="col-sm-3">
                                            <strong>text_telephone</strong><br>
                                            location.telephone<br/>
                                            <br/>
                                            @if (location.fax)
                                            {
                                                <strong>text_fax</strong>
                                                <br>
                                                @location.fax
                                            }
                                        </div>
                                        <div class="col-sm-3">
                                            @if (location.open)
                                            {
                                                <strong>text_open</strong>
                                                <br/>
                                                @location.open
                                                <br/>
                                                <br/>
                                            }
                                            @if (location.comment)
                                            {
                                                <strong>text_comment</strong>
                                                <br/>
                                                @location.comment
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            <form action="action" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <legend>text_contact</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-name">entry_name</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" value="name" id="input-name" class="form-control"/>
                            @if (string.IsNullOrEmpty(error_name))
                            {
                                <div class="text-danger">error_name</div>
                            }
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">entry_email</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" value="email" id="input-email" class="form-control"/>
                            @if (string.IsNullOrEmpty(error_email))
                            {
                                <div class="text-danger">error_email</div>
                            }
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-enquiry">entry_enquiry</label>
                        <div class="col-sm-10">
                            <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">enquiry</textarea>
                            @if (string.IsNullOrEmpty(error_enquiry))
                            {
                                <div class="text-danger">error_enquiry</div>
                            }
                        </div>
                    </div>
                    captcha
                </fieldset>
                <div class="buttons">
                    <div class="pull-right">
                        <input class="btn btn-primary" type="submit" value="button_submit"/>
                    </div>
                </div>
            </form>
            <ContentBottom></ContentBottom>
        </div>
        <ColumnRight></ColumnRight>
    </div>
</div>

@code{
    public bool image = false;
    public bool geocode = false;
    public List<dynamic> locations = new();
    public string fax { get; set; }
    public string open { get; set; }
    public string comment { get; set; }
    public string error_name { get; set; }
    public string error_email { get; set; }
    public string error_enquiry { get; set; }
}