@inherits LayoutComponentBase

<!doctype html>
<html class="no-js " lang="en">

<base href="/"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title></title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="assets/admin/css/main.css">
    <link rel="stylesheet" href="assets/admin/css/color_skins.css">
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet"/>
</head>
<body class="theme-black">
<div class="authentication">
    <div class="container">
        <div class="col-md-12 content-center">
            <div class="row">
                <AdminOutterPanel/>
                @Body
            </div>
        </div>
    </div>
</div>
@* <script src="~/lib/signalr/signalr.min.js"></script> *@
<!-- Jquery Core Js -->
@* <script src="~/assets/admin/bundles/libscripts.bundle.js"></script> *@
@* <script src="~/assets/admin/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> *@
</body>

</html>