@inherits MediaRazor
<div id="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel_s">
                    <div class="panel-body">
                        <div id="elfinder"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>