@inherits TicketPipeLogRazor
<div id="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="panel_s">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                render_date_input('activity_log_date','utility_activity_log_filter_by_date','',array(),array(),'','activity-log-date');
                            </div>
                            <div class="col-md-8 text-right mtop20">
                                <a class="btn btn-danger _delete" href="  admin_url('utilities/clear_pipe_log'); "> this.helper.label('clear_activity_log'); </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="hr-panel-heading"/>
                        <div class="clearfix"></div>
                        render_datatable(array(
                        this.helper.label('ticket_pipe_name'),
                        this.helper.label('ticket_pipe_date'),
                        this.helper.label('ticket_pipe_email_to'),
                        this.helper.label('ticket_pipe_email'),
                        this.helper.label('ticket_pipe_subject'),
                        this.helper.label('ticket_pipe_message'),
                        this.helper.label('ticket_pipe_status'),
                        ),'activity-log');
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>