<a href="javascript:void(0);" class="menu-toggle">
    <i class="zmdi zmdi-apps"></i><span>Plugins</span> <span class="badge badge-success float-right">7</span>
</a>
<ul class="ml-menu">
    <li>
        <a href="#">Intalled Plugin</a>
    </li>
    <li>
        <a href="#">Add New</a>
    </li>
    <li>
        <a href="#">Plugin Editor</a>
    </li>
</ul>

@code {

}