<a href="javascript:void(0);" class="menu-toggle">
    <i class="zmdi zmdi-apps"></i><span>Tools</span> <span class="badge badge-success float-right">7</span>
</a>
<ul class="ml-menu">
    <li>
        <a href="#">Available Tools</a>
    </li>
    <li>
        <a href="#">Import</a>
    </li>
    <li>
        <a href="#">Export</a>
    </li>
    <li>
        <a href="#">Site Health</a>
    </li>
    <li>
        <a href="#">Export Personal Data</a>
    </li>
    <li>
        <a href="#">Erase Personal Data</a>
    </li>
</ul>

@code {

}