@layout PageLayout
@page "/"
@inject NavigationManager NavManager
@inherits IndexRazor
<div id="common-home" class="container">
    <div class="row">
        <ColumnLeft/>
        <div id="content" class="this.className">
            <ContentTop/>
            <ContentBottom/>
        </div>
        <ColumnRight/>
    </div>
</div>