@layout PageLayout
@page "/success"
@inherits SuccessRazorBase
<div id="common-success" class="container">
    <Breadbrumbs></Breadbrumbs>
    <div class="row">
        <ColumnLeft></ColumnLeft>
        <div id="content" class="class">
            <ContentTop></ContentTop>
            <h1>heading_title</h1>
            text_message
            <div class="buttons">
                <div class="pull-right">
                    <a href="continue" class="btn btn-primary">button_continue</a>
                </div>
            </div>
            <ContentBottom></ContentBottom>
        </div>
        <ColumnRight></ColumnRight>
    </div>
</div>