@inherits MyNotificationBase

<div class="notif-menu">
    <div class="slim_scroll">
        <div class="card">
            <div class="header">
                <h2>
                    <strong>Messages</strong>
                </h2>
            </div>
            <div class="body">
                <ul class="messages list-unstyled">
                    <li>
                        <a href="javascript:void(0);">
                            <div class="media">
                                <img class="media-object rounded-circle" src="assets/images/xs/avatar1.jpg" alt="">
                                <div class="media-body">
                                    <span class="name">Alexander <small class="time">35min ago</small></span>
                                    <p class="message">New tasks needs to be done</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <div class="media">
                                <img class="media-object rounded-circle" src="assets/images/xs/avatar2.jpg" alt="">
                                <div class="media-body">
                                    <span class="name">Grayson <small class="time">1hr ago</small></span>
                                    <p class="message">New tasks needs to be done</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <div class="media">
                                <img class="media-object rounded-circle" src="assets/images/xs/avatar3.jpg" alt="">
                                <div class="media-body">
                                    <span class="name">Sophia <small class="time">31min ago</small></span>
                                    <p class="message">New tasks needs to be done</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>
                    <strong>Notifications</strong>
                </h2>
            </div>
            <div class="body">
                <ul class="notification list-unstyled">
                    <li>
                        <i class="zmdi zmdi-balance-wallet text-success"></i>
                        <strong>+$30 New sale</strong>
                        <p>
                            <a href="javascript:void(0)">Admin Template</a>
                        </p>
                        <small class="text-muted">7 min ago</small>
                    </li>
                    <li>
                        <i class="zmdi zmdi-edit text-info"></i>
                        <strong>You Edited file</strong>
                        <p>
                            <a href="javascript:void(0)">Docs.doc</a>
                        </p>
                        <small class="text-muted">15 min ago</small>
                    </li>
                    <li>
                        <i class="zmdi zmdi-delete text-danger"></i>
                        <strong>Project removed</strong>
                        <p>
                            <a href="javascript:void(0)">AdminX BS4</a>
                        </p>
                        <small class="text-muted">1 hours ago</small>
                    </li>
                    <li>
                        <i class="zmdi zmdi-account text-success"></i>
                        <strong>New user</strong>
                        <p>
                            <a href="javascript:void(0)">UI Designer</a>
                        </p>
                        <small class="text-muted">1 hours ago</small>
                    </li>
                    <li>
                        <i class="zmdi zmdi-flag text-warning"></i>
                        <strong>Alpino v1.0.0 is available</strong>
                        <p>
                            <a href="javascript:void(0)">Update now</a>
                        </p>
                        <small class="text-muted">5 hours ago</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}