<div class="user-info m-b-20">
    <div class="image">
        <NavLink href="admin/settings/profile">
            <img src="assets/admin/images/profile_av.jpg" alt="User">
        </NavLink>
    </div>
    <div class="detail">
        <h6>@@MyName</h6>
        <p class="m-b-0">@@MyEmail</p>
        <a href="javascript:void(0);" title="" class=" waves-effect waves-block">
            <i class="zmdi zmdi-facebook-box"></i>
        </a>
        <a href="javascript:void(0);" title="" class=" waves-effect waves-block">
            <i class="zmdi zmdi-linkedin-box"></i>
        </a>
        <a href="javascript:void(0);" title="" class=" waves-effect waves-block">
            <i class="zmdi zmdi-instagram"></i>
        </a>
        <a href="javascript:void(0);" title="" class=" waves-effect waves-block">
            <i class="zmdi zmdi-twitter-box"></i>
        </a>
    </div>
</div>

@code {

}