@layout AdminEmptyLayout
@page "/admin/auth/forgot"
<div class="col-lg-5 col-md-12 offset-lg-1">
    <div class="card-plain">
        <div class="header">
            <h5>Forgot Password?</h5>
            <span>Enter your e-mail address below to reset your password.</span>
        </div>
        <form class="form">
            <div class="input-group mb-0">
                <input type="text" class="form-control" placeholder="Enter Email">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="zmdi zmdi-email"></i>
                    </span>
                </div>
            </div>
        </form>
        <div class="footer">
            <a href="#" class="btn btn-primary btn-round btn-block">SUBMIT</a>
        </div>
        <a href="/admin/auth/signin" class="link">Sign-in</a>
    </div>
</div>