@inherits CurrencyRazorBase





@if (currencies.Count > 1)
{
    <div class="pull-left">
        <form action="action" method="post" enctype="multipart/form-data" id="form-currency">
            <div class="btn-group">
                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                    @foreach (var currency in currencies)
                    {
                        @if (!string.IsNullOrEmpty(currency.symbol_left) && currency.code == "code")
                        {
                            <strong>currency.symbol_left</strong>
                        }
                        else if (!string.IsNullOrEmpty(currency.symbol_right) && currency.code == "code")
                        {
                            <strong>currency.symbol_right</strong>
                        }
                    }
                    <span class="hidden-xs hidden-sm hidden-md">text_currency</span>&nbsp;<i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var currency in currencies)
                    {
                        @if (!string.IsNullOrEmpty(currency.symbol_left))
                        {
                            <li>
                                <button class="currency-select btn btn-link btn-block" type="button" name="currency.code">currency.symbol_left currency.title</button>
                            </li>
                        }
                        else
                        {
                            <li>
                                <button class="currency-select btn btn-link btn-block" type="button" name="currency.code">currency.symbol_right currency.title</button>
                            </li>
                        }
                    }
                </ul>
            </div>
            <input type="hidden" name="code" value=""/>
            <input type="hidden" name="redirect" value="redirect"/>
        </form>
    </div>
}