<a href="javascript:void(0);" class="menu-toggle">
    <i class="zmdi zmdi-apps"></i><span>Appearance</span> <span class="badge badge-success float-right">7</span>
</a>
<ul class="ml-menu">
    <li>
        <a href="#">Theme</a>
    </li>
    <li>
        <a href="#">Customize</a>
    </li>
    <li>
        <a href="#">Widgets</a>
    </li>
    <li>
        <a href="#">Menus</a>
    </li>
    <li>
        <a href="#">Background</a>
    </li>
    <li>
        <a href="#">Theme Editor</a>
    </li>
</ul>

@code {

}