@inherits AdminMiniLeftBarBase
@inject NavigationManager _navigationManager

<div class="overlay"></div><!-- Overlay For Sidebars -->

<!-- Left Sidebar -->
<aside id="minileftbar" class="minileftbar">
    <ul class="menu_list">
        <li>
            <a class="bars"></a>
            <a class="navbar-brand">
                <img src="@AppIcon" alt="@Title">
            </a>
        </li>
        <li>
            <a class="btn_overlay hidden-sm-down" @onclick="Search">
                <i class="zmdi zmdi-search"></i>
            </a>
        </li>
        <li>
            <a class="menu-sm" @onclick="MyMenu">
                <i class="zmdi zmdi-swap"></i>
            </a>
        </li>
        <li class="menuapp-btn">
            <a @onclick="MyApps">
                <i class="zmdi zmdi-apps"></i>
            </a>
        </li>
        <li class="notifications badgebit">
            <a @onclick="MyNotification">
                <i class="zmdi zmdi-notifications"></i>
                <div class="notify">
                    <span class="heartbit"></span>
                    <span class="point"></span>
                </div>
            </a>
        </li>
        <li class="task badgebit">
            <a @onclick="async () => MyTasks()">
                <i class="zmdi zmdi-flag"></i>
                <div class="notify">
                    <span class="heartbit"></span>
                    <span class="point"></span>
                </div>
            </a>
        </li>
        <li>
            <a title="Events" @onclick="async () => MyEvents()">
                <i class="zmdi zmdi-calendar"></i>
            </a>
        </li>
        @* <li> *@
        @*     <a title="Inbox" @onclick="Signout"> *@
        @*         <i class="zmdi zmdi-email"></i> *@
        @*     </a> *@
        @* </li> *@
        <li>
            <a title="Contact List" @onclick="ContactList">
                <i class="zmdi zmdi-account-box-phone"></i>
            </a>
        </li>
        <li>
            <a @onclick="async () => MyChat()">
                <i class="zmdi zmdi-comments"></i>
            </a>
        </li>
        <li>
            <a class="fullscreen" data-provide="fullscreen" @onclick="MakeFullScreen">
                <i class="zmdi zmdi-fullscreen"></i>
            </a>
        </li>
        <li class="power">
            <a class="js-right-sidebar" @onclick="Settings">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </a>
            <a class="js-right-sidebar" @onclick="Settings">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </a>
            <a class="mega-menu" @onclick="Signout">
                <i class="zmdi zmdi-power"></i>
            </a>
        </li>
    </ul>
</aside>