@inherits AdminSidebarLeftBase
<div id="leftsidebar" class="sidebar">
    <div class="menu">
        <ul class="list">
            <li><ProfileItem></ProfileItem></li>
            <li class="header">MAIN</li>
            <li><DashboardItem></DashboardItem></li>
            <li><PostsItem></PostsItem></li>
            <li><MediasItem></MediasItem></li>
            <li><PagesItem></PagesItem></li>
            <li><CommentsItem></CommentsItem></li>
            <li class="header">System</li>
            <li><AppearanceItem></AppearanceItem></li>
            <li><PluginsItem></PluginsItem></li>
            <li><UsersItem></UsersItem></li>
            <li><ToolsItem></ToolsItem></li>
            <li><SettingsItem></SettingsItem></li>
        </ul>
    </div>
</div>